@model IEnumerable<BancaTCC.Models.Trabalho>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrabalhoTema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrabalhoArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrabalhoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrabalhoGitLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrabalhoTema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrabalhoArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrabalhoLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrabalhoGitLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
